{{!-- <style>
    .justify-content-between {
    justify-content: space-between !important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
*, *::before, *::after {
    box-sizing: border-box;
}
</style> --}}
<script src="https://kit.fontawesome.com/d674ecef29.js" crossorigin="anonymous"></script>




    <!-- Navbar Start -->
    <div class="container-fluid mb-3 mt-3" >
        <div class="row border-top px-xl-5" >
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn btn-dark shadow-none d-flex align-items-center justify-content-between  text-white w-100" data-toggle="collapse" href="/" style="height: 65px; margin-top: -1px; padding: 0 30px;background-color:rgb(12, 12, 12)">
                    <h6 class="m-0" style="font-size:x-large;color:aliceblue">HELMET2KART</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="/" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">HELMETO</span>KART</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" style="">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link active">home</a>
                            {{!-- <a href="/profile" class="nav-item nav-link">profile</a> --}}
                            <a href="/view-order" class="nav-item nav-link">orders</a>
                            
                           <a href="/cart" class="nav-item nav-link"><i class="fa-solid fa-cart-shopping">Cart <span class="badge badge-success" id="cart-count">{{cartCount}}</span></i></a>
                            <a href="/wishlist" class="nav-item nav-link"><i class="fa-regular fa-heart"></i><span class="badge badge-success" id="wishList-count">{{wishListCount}}</span></i></a>
                            <a href="/search" class="nav-item nav-link"><i class="fa-solid fa-magnifying-glass"  style="color: #1c3a6d;"></i></a>
    </div>
 <div class="navbar-nav  py-0" style="margin-left: 200px;">
 <div class="dropdown">
  <button class="dropdown-btn" onclick="toggleDropdown()" style="margin-top: 12px;margin-right: 24px;">sort</button>
  <div class="dropdown-content" id="dropdownContent">
    <ul style="    line-height: .2px;">
        {{#each catgy}}
        <li  style="list-style: none;"> <a  href="/sort?category={{this.category}}">{{this.category}}</a> </li>
    {{/each}}
      
    </ul>
  </div>
</div>

 {{#if user}}
  <a  style="background-color: #ffffff;border-color: #e3e1e2; border-radius: 3%; height: 52px;" href="logout" class="nav-item nav-link btn btn-danger ">LOGOUT<a href="/profile" class="nav-item nav-link"><i class="fa-solid fa-user-tie fa-bounce">{{user.name}}</i></a>   </a>
{{else}}
 <a href="login">login</a>
 <div>
 <a href="signup" class="nav-item nav-link">Register</a>
 </div>
 {{/if}}

</div>
                           
 </div>
 </nav>
                
 </div>
 </div>
</div>

<script>
      function toggleDropdown() {
  var dropdownContent = document.getElementById("dropdownContent");
  dropdownContent.style.display = dropdownContent.style.display === "none" ? "block" : "none";
}



  {{!-- function toggleDropdown() {
    var dropdownContent = document.getElementById("dropdownContent");
    dropdownContent.style.display = dropdownContent.style.display === "none" ? "block" : "none";
  }

  // Add the following code to initialize the Bootstrap collapse component
  $(document).ready(function() {
    $('#navbarCollapse').collapse();
  }); --}}
</script>


 