<script src="https://kit.fontawesome.com/d674ecef29.js" crossorigin="anonymous"></script>

<style>
  .btn-dark {
    color: #fff;
    background-color: #0f6362;
    border-color: #1b8163;
}
  .error { color: red; }


  .w-75 {
    width: 53% !important;
   
    margin-left: 99px;
    margin-top: 15px;
    padding-top: -22px;
  }
</style>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<section>
  <div class="container">
    <div class="row">
     
      <div class="col-12 col-md-6 col-lg-6">
        <div
          class="rounded "
          style="width: 80%; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);"
        >
          <div style="padding-top: 30px;">
            <h5 class="ms-3" style="padding-left: 50px;"><B>PERSONAL
                INFORMATIONS</B></h5>
            <hr />
             <div class="">

              <img
                src="https://thumbs.dreamstime.com/b/user-avatar-icon-button-profile-symbol-flat-person-icon-vector-user-avatar-icon-button-profile-symbol-flat-person-icon-%C3%A2%E2%82%AC-stock-131363829.jpg"
              
                style="    height: 100px;
    width: 150px;
    border-radius: 15px;
    margin-left: 29px;
    margin-top: 16px;
};"
                alt="pic"
              />
            
            <p class="ms-4" style="padding-left: 201px;
    
    margin-top: -93px;">Name:
              <b> {{oneUser.name}}</b>
            </p>
            <p class="ms-4" style="padding-left: 201px;
    padding-top: -28px;
    margin-top: 4px;">Email:
              <b> {{oneUser.email}}</b>
            </p>
            <p class="ms-4" style="padding-left: 201px;
    padding-top: -28px;
    margin-top: 8px; margin-bottom: 52px;">Phone:
              <b> {{oneUser.phone}}</b>
            </p>
            </div>
            {{! Wallet ComeHere  }}
          </div>
          <div>
             <a href="#">
                <p class="btn btn-dark w-75"><b style="font-size: 25px;"><i class="fa-solid fa-sack-dollar fa-shake fa-lg" style="color: #a7acb4;"></i>:{{#if walletHistory}}
                     ₹
                      {{walletHistory}}
                    {{else}} 0.0{{/if}}</b></p></a>
            <a class="btn btn-dark w-75 mb-3" href="/view-order"><b style="font-size: 25px;">MY ORDERS</b></a></div>

          <div>
            <a href="/edit-profile">
              <p
                class="btn btn-dark w-75"
                style="margin-top: 1px;
    width: 71%;
    margin-left: 98px;"
              ><b style="font-size: 20px;"><i class="fa-solid fa-pen-to-square">  EDIT </i></b></p></a>

            <div
              class="address text-center border border-3"
              style="display: none; margin: 58px;    width: 77%!important; border-radius:15px"
            >
              <form
                action="/useraddress"
                method="post"
                id="submit-address"
                class="form"
              >

                <input type="text" id="ID" name="id" value="" hidden />
                <input
                  class="mt-3 text-center border"
                  style="height: 40px;border-radius: 20px;"
                  type="text"
                  name="homeaddress"
                  id="homeaddress"
                  placeholder="House Name"
                  required
                />
                <input
                  class="mt-3 text-center border"
                  style="height: 40px;border-radius: 20px;"
                  type="text"
                  name="fullAddress"
                  id="fullAddress"
                  placeholder="Street Address "
                  required
                />
                <input
                  class="mt-3 mb-3 text-center border"
                  style="height: 40px;border-radius: 20px;"
                  type="text"
                  name="town"
                  id="town"
                  placeholder=" Town/city"
                  required
                />
                <input
                  class="mb-3 text-center border"
                  style="height: 40px;border-radius: 20px;"
                  type="text"
                  name="country"
                  id="country"
                  placeholder="Country/state"
                  required
                />
                <input
                  class="mb-3 text-center border"
                  style="height: 40px;border-radius: 20px;"
                  type="number"
                  name="pincode"
                  id="pincode"
                  placeholder="PIN Code"
                  required
                />
                <input
                  class="mt-3 text-center border"
                  style="height: 40px;border-radius: 20px;"
                  type="number"
                  name="phone"
                  id="phone"
                  placeholder="Phone Number"
                  required
                /><br /><br />
                <input type="submit" value="SUBMIT" class="btn btn-dark w-75" />

              </form><br />
            </div>
          </div>

          <div
            class=""
            style="text-align: center; padding-left: 70px; border-color:black;"
          >
            {{#each add}}
              <div
                class="mt-4 w-75 ms-5 border border-dark"
                style="border-radius: 10px; "
              >
                <span
                  href=""
                  onclick="editAddress()"
                  class="text-dark me-3"
                  style="margin-left: 200px;"
                ><i class="fa fa-pencil-square"></i></span>

                <button
                  onclick="deleteAddress('{{this.id}}')"
                  class="text-danger"
                ><i class="fa fa-trash"></i></button>

                <h6 class="ms-5 pt-2">{{this.homeaddress}}</h6>
                <h6 class="ms-5">{{this.fullAddress}}</h6>
                <h6 class="ms-5 pb-2">{{this.town}}</h6>
                <h6 class="ms-5 pb-2">{{this.country}}</h6>
                <h6 class="ms-5 pb-2">{{this.pincode}}</h6>
                <h6 class="ms-5 pb-2">{{this.phone}}</h6>
                <div
                  class="changeAddress text-center border border-3"
                  style="display: none;"
                >
                  <form action="/edit-user-address/{{this._id}}" method="post">
                    <input
                      class="mt-3 text-center border"
                      style="height: 40px;border-radius: 20px;"
                      type="text"
                      name="houseName"
                      value="{{this.homeaddress}}"
                    />
                    <input
                      class="mt-3 text-center border"
                      style="height: 40px;border-radius: 20px;"
                      type="text"
                      name="address"
                      value="{{this.fullAddress}}"
                    />
                    <input
                      class="mb-3 text-center border"
                      style="height: 40px;border-radius: 20px;"
                      type="text"
                      name="town"
                      value="{{this.town}}"
                    />
                    <input
                      class="mb-3 text-center border"
                      style="height: 40px;border-radius: 20px;"
                      type="text"
                      name="country"
                      value="{{this.country}}"
                    />
                    <input
                      class="mb-3 text-center border"
                      style="height: 40px;border-radius: 20px;"
                      type="number"
                      name="pincode"
                      value="{{this.pincode}}"
                    />
                    <input
                      class="mb-3 text-center border"
                      style="height: 40px;border-radius: 20px;"
                      type="number"
                      name="phone"
                      value="{{this.phone}}"
                    />
                    <input type="submit" class="btn btn-dark w-75" />
                  </form><br />
                </div>
              </div>
            {{/each}}


          </div><br />
        </div><br />
      </div>
    </div>
  </div>
</section>