<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
{{#if products}}
<section class="product spad">
       <div class="container">
       
     
        {{!-- <h2>{{oneCat.category}}</h2> --}}
      
       <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {{#each products}}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="border-radius: 5px;">
                        <img class=" "   src="/product-image/{{this._id}}1.jpg" alt="" style="width: 17rem; height:12rem">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        
                    <h6><a href="/view-product/{{this._id}}">{{this.name}}   </a></h6>
                        <div class="d-flex justify-content-center">
                            <h6>₹{{this.price}}</h6><h6 class="text-muted ml-2"><del>₹{{this.price}}</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        {{!-- <a href="/view-product/{{this._id}}" class="btn  bg-secondary text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a> --}}
                        {{!-- <a href="/add-to-cart/{{this._id}}" class="btn bg-warning text-dark text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a> --}}
                        <button onclick="addToCart('{{this._id}}')" class="btn  text-dark text-dark p-0 " style="border-radius: 5px; margin-left: -3%;
    width: 54%;"><i class="fa-solid fa-cart-shopping fa-beat"></i></button>
    <button onclick="addtowishlist('{{this._id}}')" class="btn  text-dark text-dark p-0 " style="border-radius: 5px; margin-left: 6%;
    width: 59%;"><i class="fa-sharp fa-regular fa-heart"></i></button>
    {{!-- <a href="/add-to-wishlist/{{this._id}}" class="btn bg-warning text-dark text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To wish</a>  --}}
  
                            
                    </div>
                </div>
            </div>
                {{/each}}
            
            
        </div>
    </div>
    </div>
</section>
{{else}}
<div class="container">
   <a href="/searchProduct"> <img style="width:100% ;height:500px ;" src="https://resources.nicepage.com/853/54853/404.png" alt=""></a>
    {{!-- <h1>CART EMPTY</h1> --}}
</div>
{{/if}}


<script src="/public/javascripts/script.js"></script>
{{!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> --}}

 {{!-- <script>
   // function addToCart(proId) {
   //     console.log("entered")
    //    $.ajax({
    //        url: '/add-to-cart/' + proId,
    //        method: 'get',
    //        success: (response) => {
     //           console.log(response);
   //             if (response.status) {
          //          let count = $('#cart-Count').html()
           //         count = parseInt(count) + 1
           //         swal("ADD TO CART", {
             //           icon: "success",
                    });
             //       $('#cart-Count').html(count)
                }
            }
        })
    }
</script>  --}}

<script>
    function addToCart(proId) {
        $.ajax({
            url: '/addToCart/' + proId,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    let count = $('#cart-count,#cart-count2').html()
                    count = parseInt(count) + 1
                    $("#cart-count,#cart-count2").html(count)
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Added To Cart',
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else {
                    location.href = '/user-login'
                }
            }
        })
    }
    function addTowishlist(proId) {
        console.log('wishlist function called')
        $.ajax({
            url: '/addToWishlist/' + proId,
            method: 'get',
            success: (response) => {
                console.log(response)
                if (response.add) {
                    let count = $('#wish-count').html()
                    count = parseInt(count) + 1
                    $('#wish-count').html(count)
                    swal.fire({
                        icon: "success",
                        title: "Item Added To wishlist",
                        showConfirmButton: false,
                        timer: 1000
                    })
                } else if (response.remove) {
                    let count = $('#wish-count').html()
                    count = parseInt(count) - 1
                    $('#wish-count').html(count)
                    swal.fire({
                        icon: "success",
                        title: "Item Removed from wishlist",
                        showConfirmButton: false,
                        timer: 1000
                    })
                } else {
                    location.href = '/user-login'
                }
            }
        })
    }
</script>

<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/mixitup.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/jquery.slicknav.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.nicescroll.min.js"></script>
<script src="/assets/js/main.js"></script>