

<style>.offer .text-md-left img {
  right: 2px;
}
.text-white {
    
    color:#568203!important;

}
.offer img {
    position: absolute;
    max-width: 100%;
    max-height: 99%;
    bottom: 0
}
.pb-5, .py-5 {
    padding-bottom: 14rem !important;
}
.mb-4, .my-4 {
    margin-bottom: 0.5rem !important;
}
.btn-outline-primary {
    color: #41f5ad;
    border-color: #00aa1d;
}


/* .carousel {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
    position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  color: #555555;
  text-decoration: none;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
} */

.carousel {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ebede6;
}

.carousel-caption h5 {
  text-align: end;
  padding-top: 17px;
  padding-right: 115px;
  color: #ffffff;
}

.carousel-caption h1 {
  padding-top: 0;
  margin-top: -13px;
  font-weight: semi-bold;
  color: #ffffff;
}

.carousel-caption a {
  margin-top: -2px;
  color: #ffffff;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  color: #555555;
  text-decoration: none;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #f1f1f1;
  color: #333;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown.show .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



</style>




<section >
{{!-- chat gbt --}}
{{!-- <div class="carousel">
  <div class="carousel-inner"  style="height: 510px;">
    <!-- Loop through your data array to generate carousel items -->
    {{#each banner}}
    <div class="carousel-item{{#if @first}} active{{/if}}">
      <img src="/banner-images/{{this._id}}.jpg" alt="{{this.name}}" style="width:100%;height:100%">
       <div style="position: relative; margin-top: -132px;
    
    padding-left: 590px;"> <button id="view-all-button">View All Images</button>
    </div>
    
</div>
      
    
    
    {{/each}}
  </div>

  <!-- Navigation buttons -->
  <a class="carousel-control prev" href="#" role="button">
    &lt;
  </a>
  <a class="carousel-control next" href="#" role="button">
    &gt;
  </a>
 
 
</div> --}}
{{!-- 2nd code               --}}
{{!-- <div class="carousel">
  <div class="carousel-inner" style="height: 510px;">
    {{#each banner}}
    <div class="carousel-item{{#if @first}} active{{/if}}">
      <img src="/banner-images/{{this._id}}.jpg" alt="{{this.name}}" style="width: 100%; height: 100%">
      <div class="carousel-caption">
        <h5 class="text-uppercase mb-3">{{this.offer}}% off on all orders</h5>
        <h1 class="mb-4 font-weight-semi-bold">{{this.name}}</h1>
        <h1 class="mb-4 font-weight-semi-bold">{{this.subname}}</h1>
         <a href={{this.url}} class="btn btn-outline-primary py-md-2 px-md-3" >Shop Now</a>

       

      </div>
    </div>
    {{/each}}
  </div>

  <!-- Navigation buttons -->
  <a class="carousel-control prev" href="#" role="button">
    &lt;
  </a>
  <a class="carousel-control next" href="#" role="button">
    &gt;
  </a>
 
</div> --}}

<div class="carousel">
  <div class="carousel-inner" style="height: 510px;">
    {{#each banner}}
    <div class="carousel-item{{#if @first}} active{{/if}}">
      <img src="/banner-images/{{this._id}}.jpg" alt="{{this.name}}" style="width: 100%; height: 100%">
      <div class="carousel-caption">
        <h5 class="text-uppercase mb-3">{{this.offer}}% off on all orders</h5>
        <h1 class="mb-4 font-weight-semi-bold">{{this.name}}</h1>
        <h1 class="mb-4 font-weight-semi-bold">{{this.subname}}</h1>
        <a href={{this.url}} class="btn btn-outline-primary py-md-2 px-md-3" >Shop Now</a>
      </div>
    </div>
    {{/each}}
  </div>

  <!-- Navigation buttons -->
  <a class="carousel-control prev" href="#" role="button">
    &lt;
  </a>
  <a class="carousel-control next" href="#" role="button">
    &gt;
  </a>
</div>

                  

     
             
    <!-- Navbar End -->
     <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

    



<div class="container-fluid offer pt-5"  >
        <div class="row px-xl-5" >
            {{#each banner}}
            <div class="col-md-6 pb-4">
                <div class="position-relative"style="width: 100%;   height: 300px;"  >
                    <img src="/banner-images/{{this._id}}.jpg"  alt="" style="width: 100%;   height:300px;" >
                    <div class="position-relative" >
                        {{!-- <h5 class="text-uppercase  mb-3" style="    color: #ebede6; text-align: end;padding-top: 17px;padding-right: 15px;">{{this.offer}}% off the all order</h5>
                        <h1 class="mb-4 font-weight-semi-bold" style="color: #ebede6;  padding-left: 260px; padding-top: 0px;  margin-top: -13px;">{{this.name}}</h1>
                              <h1 class="mb-4 font-weight-semi-bold" style="color: #ebede6;  padding-left: 340px; padding-top: 0px;  margin-top: -8px;font-weight:300;font-size:22px">{{this.subname}}</h1> --}}
                       
                    </div>
                </div>
            </div>
            {{/each}}
             
        </div>
    </div>

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2"> Trending  Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {{#each products}}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="border-radius: 5px;">
                        <img class=" "   src="/product-image/{{this._id}}1.jpg" alt="" style="width: 14rem; height:12rem">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        
                    <h6><a  style="color:#3c0c08;;" href="/view-product/{{this._id}}">{{this.name}}   </a></h6>
                        <div class="d-flex justify-content-center" style="color: #085849;">
                            {{!-- <h6>₹{{this.price}}</h6><h6 class="text-muted ml-2"><del>₹{{this.actualPrice}}</del></h6> --}}
                            {{#if actualPrice}}₹ {{this.price}}<span> <del style="padding-left:6px; color:black"> ₹{{this.actualPrice}}</del ></span>{{else}}₹ {{this.price}}{{/if}}
                             {{#if proOfferPercentage}}
                        <p class="text-secondary"  style="color: #7c7209 !important;padding-left: 10px;}">{{proOfferPercentage}}<small  style="font-size: 99%;font-weight: 600;color: rebeccapurple;}">%off</small></p>{{/if}}
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        {{!-- <a href="/view-product/{{this._id}}" class="btn  bg-secondary text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a> --}}
                        {{!-- <a href="/add-to-cart/{{this._id}}" class="btn bg-warning text-dark text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a> --}}
                        <button onclick="addToCart('{{this._id}}')" class="btn  text-dark text-dark p-0 " style="border-radius: 5px; margin-left: -3%;
    width: 54%;"><i class="fa-solid fa-cart-shopping fa-beat"></i></button>
    <button onclick="addtowishlist('{{this._id}}')" class="btn  text-dark text-dark p-0 " style="border-radius: 5px; margin-left: 6%;
    width: 59%;"><i class="fa-sharp fa-regular fa-heart"></i></button>
    {{!-- <a href="/add-to-wishlist/{{this._id}}" class="btn bg-warning text-dark text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To wish</a>  --}}
  
                            
                    </div>
                </div>
            </div>
                {{/each}}
            
            
        </div>
    </div>

{{!-- //product list end// --}}
 <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="vendor-item border p-4">
                        <img src="/images/download2 (1).jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="/images/download2 (2).JPG" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="/images/download2 (3).jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="/images/download2 (4).jpg" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="/images/download2 (5).jpg" alt="">
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>



    <!-- Offer Start -->
    {{!-- <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">      
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="/images/2_copy.jpg " alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    
                                </div>
                            </div>
                            </div>
                         </div>
                </div> --}}


<div id="header-carousel"  class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">      
                        <div class="carousel-item active" style="height: 410px;">
                            <video class="img-fluid" src="/video/videoofhelmet.mp4" controls style="width: 100%; height: 100%;    object-fit: fill;
    padding-top: 42px;"></video>
                           
                            </div>
                         </div>
                </div>

    
    <!-- Offer End -->

    <!-- Vendor Start -->
   
    <!-- Vendor End -->











    </section>
    

 <script>
    function changeImage() {
        $('.carousel').carousel('next');
    }



   document.addEventListener("DOMContentLoaded", function() {
  const carouselItems = document.querySelectorAll(".carousel-item");
  const prevButton = document.querySelector(".carousel-control.prev");
  const nextButton = document.querySelector(".carousel-control.next");
  let currentIndex = 0;

  // Function to show the current active item
  function showItem(index) {
    carouselItems.forEach((item, i) => {
      if (i === index) {
        item.classList.add("active");
      } else {
        item.classList.remove("active");
      }
    });
  }

  // Event listener for previous button
  prevButton.addEventListener("click", function() {
    currentIndex--;
    if (currentIndex < 0) {
      currentIndex = carouselItems.length - 1;
    }
    showItem(currentIndex);
  });

  // Event listener for next button
  nextButton.addEventListener("click", function() {
    currentIndex++;
    if (currentIndex >= carouselItems.length) {
      currentIndex = 0;
    }
    showItem(currentIndex);
  });
});




</script>
   <script>
function addToCart(proId) {
    $.ajax({
        url: '/add-to-cart/' + proId,
        method: 'get',
        success: (response) => {
            if (response.status) {
                let count = $('#cart-count').html()
                count = parseInt(count) + 1
                $("#cart-count").html(count)
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Added To Cart',
                    showConfirmButton: false,
                    timer: 1500

                })
                
            } else {
                location.href = '/login'

            }
        }
    })
}


     function addtowishlist(proId) {
        console.log('wishlist function called')
        $.ajax({
            url: '/add-to-wishlist/' + proId,
            method: 'get',
            success: (response) => {
                console.log(response)
                if (response.add) {
                    let count = $('#wish-count').html()
                    count = parseInt(count) + 1
                    $('#wish-count').html(count)
                    swal.fire({
                        icon: "success",
                        title: "Item Added To wishlist",
                        showConfirmButton: false,
                        timer: 1000
                    })
                } else if (response.remove) {
                    let count = $('#wish-count').html()
                    count = parseInt(count) - 1
                    $('#wish-count').html(count)
                    swal.fire({
                        icon: "success",
                        title: "Item Removed from wishlist",
                        showConfirmButton: false,
                        timer: 1000
                    })
                } else {
                    location.href = '/login'
                }
            }
        })
    }
  

  
   
</script>
  